<%= form_for(@todo, html: {class: 'form-horizontal'}) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
    	<h2>
    		<%= pluralize(@todo.errors.count, 'error') %>
    		prevented this task from being saved:
    	</h2>
    	<ul>
    		<% @todo.errors.full_messages.each do |msg| %>
    		  <li><%= msg %></li>
    		<% end %>
    	</ul>
    </div>
  <% end %>

  <div class="form-group">
		<%= f.label :title, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
		  <%= f.text_field :title, class: 'form-control', placeholder: 'Enter a task' %>
		</div>
	</div
	
	<div class="form-group">
		<%= f.label :description, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
		  <%= f.text_area :description, class: 'form-control', placeholder: 'Optionally, enter a description' %>
		</div>
	</div>

	<div class="actions form-group">
		<div class="col-sm-offset-2 col-sm-10">
		<%= f.submit class: 'btn btn-default' %>
		<%= link_to "Cancel", todos_path %>
	</div>
<% end %>