<% provide(:title, 'Task Detail') %>
<%= render 'nav' %>
        <li><%= link_to 'Todos', todos_path %></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
<h1>Title: <%= @todo.title %></h1>

<h2>Description:</h2>
<p><%= @todo.description %></p>

<p>
	Last Modified: <%= pretty_date(@todo.updated_at) %>
</p>

<%= link_to 'Back', todos_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_todo_path, class: 'btn btn-warning' %>